.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}

.flex-center{
  @extend .flex;
  justify-content: center;
  align-items: center;
}
.space-between {
  @extend .flex;
  justify-content: space-between;
}
.flex-ai-c{
  align-items: center;
}
.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-y {
  @extend .flex;
  flex-direction: column;
}
