@include create-iteration(txt, color, $color-names, $colors);

$aligns: left, center, right;
@include create-iteration(txt, txt-align, $aligns, $aligns);

$xxs: 12px;
$xs: 14px;
$s: 16px;
$m: 18px;
$l: 24px;
$xl: 18px;
$sizes: $xxs, $xs, $s, $m, $l, $xl, 32px;
$size-names: $xxs, $xs, $s, $m, $l, $xl, 32px;
@include create-iteration(txt, font-size, $size-names, $sizes);

.txt-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.txt-bold {
  font-weight: bold;
}
