$red: #e12121;
$white: #ffffff;
$default: #333333;
.my-button {
  display: inline-block;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  line-height: 1;
  box-sizing: border-box;
  &.button-normal {
    padding: 9px 13px;
    font-size: 14px;
    border-radius: 17px;
  }
  &.button-large {
    padding: 14px 0;
    font-size: 16px;
    border-radius: 22px;
    display: flex;
    .btn {
      flex: 1;
    }
  }
  &.button-default {
    background: $red;
    border-color: $red;
    color: $white;
  }
  &.button-primary {
    background: $white;
    border-color: $default;
    color: $default;
  }
}



