.action-sheet {
  padding: 14px 16px;
}
.action-sheet-head {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  border-bottom: 1px solid #eee;
  color: #999;
  .action-sheet-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
}
.action-sheet-content {
  padding: 14px 0;
  max-height: 70vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
